

<div ng-controller="LoginController" id="Body">
    <div class="container" style="margin-top: 10px;">
        <div class="login-card">
            <img class="img-thumbnail border rounded shadow-none profile-img-card" src="assets/img/business_users.png">
            <p class="profile-name-card"> </p>
            <form class="form-signin" name="LoginForm">
                <span class="reauth-email"> </span>
                <input class="form-control" ng-model="LoginDetails.Email" type="email" id="inputEmail" required name="Email" placeholder="Email address" autofocus="" style="padding-left: 15px;">
                <input class="form-control" ng-model="LoginDetails.PWD" type="password" id="inputPassword" required name="PWD" placeholder="Password" style="padding-left: 15px;">
                <button class="btn btn-success" ng-disabled="LoginForm.$invalid" ng-click="Login()" type="button">Sign-in</button>
            </form>
        </div>
    </div>
    <hr>
</div>
