<div ng-controller="SettingsController">
    <div class="container d-flex align-items-center" style="margin-top: 80px;">
        <img src="assets/img/avatar_2x.png" style="margin-right: 15px;width: 45px;">
        <h5>Profile</h5>
    </div>
    <hr>
    <div class="container" style="margin-top: 20px;">
        <!-- <div class="form-group">
            <div class="form-row d-flex align-items-center" style="margin-top: 15px;">
                <div class="col">
                <label class="col-form-label" for="Theme" style="margin-right: 20px;font-size: 12px;">Theme</label></div>
                <div class="col text-center text-secondary d-flex justify-content-xl-center">
                <i class="fas fa-sun d-xl-flex align-items-xl-center" style="font-size: 24px;margin-right: 8px;"></i>
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="darkSwitch" />
                    <label class="custom-control-label" for="darkSwitch"></label>
                </div>
                <i class="fas fa-moon d-xl-flex align-items-xl-center" style="font-size: 24px;"></i>
                </div>
            </div>
        </div> -->
        <form name="SettingsForm">
           
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Name</span></div>
                    <input class="form-control" ng-model="User.UserName"  type="text" style="padding-left: 20px;" placeholder="Enter Name" ng-model="User.UserName" name="UserName">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Mobile</span></div>
                    <input ng-model="User.Mobile"  class="form-control" type="text" style="padding-left: 20px;" placeholder="Mobile Number" ng-model="User.Mobile" name="Mobile">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Email</span></div>
                    <input ng-model="User.Email"  class="form-control" type="text" style="padding-left: 20px;" placeholder="Enter Email Address"  ng-model="User.Email" name="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="UserName">Year</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"></span></div>
                    <select ng-model="User.Year"  class="form-control pl-5" type="text">
                        <option ng-repeat="x in [1,2,3,4]">{{x}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="UserName">Course</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"></span></div>
                    
                    <select ng-model="User.Course"   class="form-control pl-5" type="text">
                        <option ng-repeat="x in ['CS','IT','EC','ME','Civil','EL']">{{x}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group d-flex align-items-center"><button class="btn btn-primary btn-block" ng-disabled="SettingsForm.$invalid" ng-click="Save()"><i class="fa fa-check"></i>&nbsp;Save</button></div>
        </form>
    </div>
    <hr>
</div>